body {
    background: #f5f6fa;
    font-family: "Inter", sans-serif;
}

.checkout-box, .summary-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.input-field {
    border-radius: 8px;
}

.order-item {
    background: #fafafa;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order-item h6 {
    font-size: 1rem;
    font-weight: 600;
}

.order-price {
    font-weight: bold;
    color: #0d6efd;
}
